[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "themes/hugo-dead-simple"]
	path = themes/hugo-dead-simple
	url = https://github.com/barklan/hugo-dead-simple.git
